@font-face {
    font-family: "VerryBerry Pro";
    src: url(fonts/rukopis.ttf) format("truetype");
}
body {
	font-family: "VerryBerry Pro";
	text-align: center;
	background: url("back.jpg");
}
.head {
	font-family: "VerryBerry Pro";
	color: purple;
	text-align: center;
	font-size: 30px;
	
}
.text {
	font-size: 30px;
}
